Repository ba-archive/ba-story-player, pull requests merged in 2023-04, with the labels that each got.

#150 feat: 添加果穗剧情的适配
  lib/layers/effectLayer/effectFunctions/BG_Flash_Sound.ts
  lib/layers/effectLayer/effectFunctions/BG_Shining_L.ts
  lib/layers/effectLayer/emitterConfigs/shining_flare.json
  lib/layers/l2dLayer/L2D.ts
  lib/layers/l2dLayer/l2dConfig.ts
  lib/stores/index.ts
  lib/types/l2d.ts
  package.json
  pnpm-lock.yaml
  src/App.vue
Labels: module: story

#151 feat: 适配果穗, 春佳代子剧情
  .gitattributes
  .github/workflows/format-and-lint.yml
  .github/workflows/npm-publish-beta.yml
  .husky/pre-commit
  README.md
  lib/BaStoryPlayer.vue
  lib/index.ts
  lib/layers/characterLayer/actionPlayer.ts
  lib/layers/characterLayer/emotionPlayer.ts
  lib/layers/characterLayer/index.ts
  lib/layers/characterLayer/options/emotionOptions.ts
  lib/layers/effectLayer/effectFunctions/BG_Flash_Sound.ts
  lib/layers/effectLayer/effectFunctions/BG_Shining_L.ts
  lib/layers/effectLayer/emitterConfigs/shining_flare.json
  lib/layers/l2dLayer/L2D.ts
  lib/layers/l2dLayer/l2dConfig.ts
  lib/layers/textLayer/BaDialog.vue
  lib/stores/index.ts
  lib/types/characterLayer.ts
  lib/types/common.ts
  lib/types/l2d.ts
  lib/utils.ts
  package.json
  pnpm-lock.yaml
  src/App.vue
Labels: module: story

#155 Feat/translator
  lib/BaStoryPlayer.vue
  lib/index.ts
  lib/layers/textLayer/BaDialog.vue
  lib/layers/translationLayer/index.ts
  lib/stores/index.ts
  lib/types/common.ts
  lib/types/events.ts
  lib/types/store.ts
  src/App.vue
  src/data/yuuka.json
Labels: bug, module: story

#121 Refactor/text layer
  lib/layers/textLayer/BaDialog.vue
  lib/layers/textLayer/assets/poli-light.png
  lib/layers/textLayer/assets/text-next.png
  lib/layers/textLayer/assets/text-next.webp
  lib/layers/textLayer/assets/title-border.png
  lib/layers/textLayer/assets/title_border__lower_left.svg
  lib/layers/textLayer/assets/title_border__lower_right.svg
  lib/layers/textLayer/assets/title_border__upper_left.svg
  lib/layers/textLayer/assets/title_border__upper_right.svg
Labels: firefox
